/* Ini adalah file main.scss yang akan menjadi tempat menulis styling */

@import 'component/fonts';
@import 'component/variables';
@import 'component/mixin';
@import 'component/reset';

@import 'parts/header';
@import 'parts/home';
@import 'parts/service';
@import 'parts/pricing';
@import 'parts/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}