@import '../component/fonts';
// @import '../component/mixins';
@import '../component/variables';


//========================================= Responsive for Mobile ==========================================//

.footer {
    background-color: $footColor;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    font-family: $fontRubik;
    width: 375px;
    height: 1184px;
    margin: 0 auto;
    margin-top: 88px;



    &__image {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 36px 0 33.59px 27px;


        & img {
            display: block;
            margin-bottom: 20px;
            // margin-top: 1px;
        }

        & .footer__text {
            width: 340px;
            font-size: 1rem;
            font-weight: 400;
            color: $fontColor1;
            margin: 0px 0px 39px 0;
            line-height: 30px;
            & span {
                font-weight: 600;
                font-size: 1rem;
            }
        }

        

        & ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            & li {
                
                & img {
                    width: 33.6px;
                    height: 33.6px;
                    margin-bottom: 30px;
                    margin-right: 20px;
                    display: inline-block;
                    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
                    border-radius: 50%;
                }
            }
        }
        
        & p {
            font-size: 1rem;
            color: $fontColor3;
            // margin-top: 10px;

        }
    }
    
    

    &__heading1 {
        order: 4;
        // background-color: red;
        width: 74px;
        height: 280px;
        margin: 80px 0 0 25px;
        display: flex;
        flex-direction: column;
        

        & .footer__title {
            font-weight: 500;
            font-size: 1.125rem;
            color: $fontColor2;
            margin-bottom: 32px;
        }

        & .footer__content {

            & li {
                margin-bottom: 22px;
                
                & a {
                    font-weight: 400;
                    font-size: 1rem;
                    color: $fontColor1;
                }

                
            }
    
        }
    }

    &__heading2 {
        order: 3;
        // background-color: red;
        // width: 123px;
        height: 280px;
        margin: 51px 0 0 25px;
        display: flex;
        flex-direction: column;
        

        & .footer__title {
            font-weight: 500;
            font-size: 1.125rem;
            color: $fontColor2;
            margin-bottom: 32px;
        }

        & .footer__content {

            & li {
                margin-bottom: 25px;
                
                & a {
                    font-weight: 400;
                    font-size: 1rem;
                    color: $fontColor1;
                }

                
            }
    
        }
    }
    
    &__heading3 {
        order: 2;
        width: 121px;
        height: 120px;
        margin: 36px 0 25px 25px;
        display: flex;
        flex-direction: column;
        

        & .footer__title {
            font-weight: 500;
            font-size: 1.125rem;
            color: $fontColor2;
            margin-bottom: 32px;
        }

        & .footer__content {

            & li {
                margin-bottom: 25px;
                
                & a {
                    font-weight: 400;
                    font-size: 1rem;
                    color: $fontColor1;
                }

                
            }
    
        }
    }
}

//========================================= Responsive for Mobile ==========================================//




//========================================= Responsive for Dekstop ==========================================//

@media only screen and (min-width: 1023px) {
    .footer {
        background-color: $footColor;
        width: 1440px;
        height: 563.12px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;

        &__image {
            order: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 180px 230px 141.71px 150px;
    
    
            & img {
                display: block;
                margin-bottom: 20px;
                
            }
    
            & .footer__text {
                font-size: 1rem;
                font-weight: 400;
                color: $fontColor1;
                margin-bottom: 30px;
                & span {
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
    
            & ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
    
                & li {
                    
                    & img {
                        width: 33.6px;
                        height: 33.6px;
                        margin-bottom: 30px;
                        margin-right: 20px;
                        display: inline-block;
                        box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
                        border-radius: 50%;
                    }
                }
            }
            
            & p {
                font-size: 1rem;
                color: $fontColor3;
    
            }
        }
        
        
    
        &__heading1 {
            order: 2;
            // background-color: red;
            width: 74px;
            height: 280px;
            margin: 183.12px 126px 100px 0;
            display: flex;
            flex-direction: column;
            
    
            & .footer__title {
                font-weight: 500;
                font-size: 1.125rem;
                color: $fontColor2;
                margin-bottom: 32px;
            }
    
            & .footer__content {
    
                & li {
                    margin-bottom: 22px;
                    
                    & a {
                        font-weight: 400;
                        font-size: 1rem;
                        color: $fontColor1;
                    }
    
                    
                }
        
            }
        }
    
        &__heading2 {
            order: 3;
            // background-color: red;
            // width: 123px;
            height: 280px;
            margin: 183.12px 146px auto 0;
            display: flex;
            flex-direction: column;
            
    
            & .footer__title {
                font-weight: 500;
                font-size: 1.125rem;
                color: $fontColor2;
                margin-bottom: 32px;
            }
    
            & .footer__content {
    
                & li {
                    margin-bottom: 25px;
                    
                    & a {
                        font-weight: 400;
                        font-size: 1rem;
                        color: $fontColor1;
                    }
    
                    
                }
        
            }
        }
        
        &__heading3 {
            order: 4;
            width: 121px;
            height: 120px;
            margin: 183.12px 150px auto auto;
            display: flex;
            flex-direction: column;
            
    
            & .footer__title {
                font-weight: 500;
                font-size: 1.125rem;
                color: $fontColor2;
                margin-bottom: 32px;
            }
    
            & .footer__content {
    
                & li {
                    margin-bottom: 25px;
                    
                    & a {
                        font-weight: 400;
                        font-size: 1rem;
                        color: $fontColor1;
                    }
    
                    
                }
        
            }
        }
    }
    
}
   
//========================================= Responsive for Dekstop ==========================================//



//========================================= Responsive for Tablet Portrait ==========================================//

// @media only screen and (min-width: 767px) {
// .footer {
//     background-color: $footColor;
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: flex-end;
//     font-family: $fontRubik;
//     width: 375px;
//     height: 1184px;
//     margin: 0 auto;



//     &__image {
//         order: 1;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: flex-start;
//         margin: 36px 0 33.59px 27px;


//         & img {
//             display: block;
//             margin-bottom: 20px;
//             // margin-top: 1px;
//         }

//         & .footer__text {
//             font-size: 1rem;
//             font-weight: 400;
//             color: $fontColor1;
//             margin-top: 7px;
//             & span {
//                 font-weight: 600;
//                 font-size: 1rem;
//             }
//         }

//         & .footer__text2 {
//             font-size: 1rem;
//             font-weight: 400;
//             color: $fontColor1;
//             margin-top: 15px;
//             margin-bottom: 41px;
//         }

//         & ul {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             justify-content: flex-start;

//             & li {
                
//                 & img {
//                     width: 33.6px;
//                     height: 33.6px;
//                     margin-bottom: 30px;
//                     margin-right: 20px;
//                     display: inline-block;
//                     box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
//                     border-radius: 50%;
//                 }
//             }
//         }
        
//         & p {
//             font-size: 1rem;
//             color: $fontColor3;
//             // margin-top: 10px;

//         }
//     }
    
    

//     &__heading1 {
//         order: 4;
//         // background-color: red;
//         width: 74px;
//         height: 280px;
//         margin: 80px 0 0 25px;
//         display: flex;
//         flex-direction: column;
        

//         & .footer__title {
//             font-weight: 500;
//             font-size: 1.125rem;
//             color: $fontColor2;
//             margin-bottom: 32px;
//         }

//         & .footer__content {

//             & li {
//                 margin-bottom: 22px;
                
//                 & a {
//                     font-weight: 400;
//                     font-size: 1rem;
//                     color: $fontColor1;
//                 }

                
//             }
    
//         }
//     }

//     &__heading2 {
//         order: 3;
//         // background-color: red;
//         // width: 123px;
//         height: 280px;
//         margin: 51px 0 0 25px;
//         display: flex;
//         flex-direction: column;
        

//         & .footer__title {
//             font-weight: 500;
//             font-size: 1.125rem;
//             color: $fontColor2;
//             margin-bottom: 32px;
//         }

//         & .footer__content {

//             & li {
//                 margin-bottom: 25px;
                
//                 & a {
//                     font-weight: 400;
//                     font-size: 1rem;
//                     color: $fontColor1;
//                 }

                
//             }
    
//         }
//     }
    
//     &__heading3 {
//         order: 2;
//         width: 121px;
//         height: 120px;
//         margin: 36px 0 25px 25px;
//         display: flex;
//         flex-direction: column;
        

//         & .footer__title {
//             font-weight: 500;
//             font-size: 1.125rem;
//             color: $fontColor2;
//             margin-bottom: 32px;
//         }

//         & .footer__content {

//             & li {
//                 margin-bottom: 25px;
                
//                 & a {
//                     font-weight: 400;
//                     font-size: 1rem;
//                     color: $fontColor1;
//                 }

                
//             }
    
//         }
//     }
// }
// }