@import '../component/fonts';
@import '../component/variables';



.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 325px;
    height: fit-content;
    margin: 28px auto 0 auto;
    


    &__logo {
        width: 149px;
        height: 36.23px;
        
    }

    &__link {
        display: none;
        

        & a {
            color: $fontColor2;
            
        }

        & a:hover {
            color: $firstColor;
            font-weight: 500;
        }

    }
        
        

    &__button {
        display: none;
    }

    &__sandwich {
        background: none;
        border: none;
        width: 24px;
        height: 13.84px;
 
    }    

    @media screen and (min-width: 769px) {
        
            margin: 45.62px auto 0 auto;
            width: 1140px;
    
            &__logo{
                width: 149px;
                height: 36.23px;  
            }
            
            &__link {
                display: flex;    
                list-style: none;
                flex-direction: row;     
                justify-content: space-between;
                width: 451px;
                height: 19px;
    
                & li {
                    display: flex;

    
                    &:first-child {
    
                        & a{
                            // font-weight: bold;
                            // color: $firstColor;  
                            margin-right: -4px;
                        }                
                    }
    
    
                    & a {
                        text-decoration: none;
                        font-family: $fontRubik;
                        color: $fontColor1;
                        font-size: 16;
    
                    }
    
                }
            }       
    
            &__button {
                display: flex;
                justify-content: space-between;
                width: 235px;

                &--in {
                    border: none;
                    color: $fontColor2;
                    background: none;
                    font-family: $fontRubik;
                    font-size: 16px;
                    font-weight: 500; 
                    // margin-right: 30px;
                    width: 53px;
    
                } 
    
                &--up {
                    border: 1px solid $firstColor; 
                    border-radius: 50px; 
                    width: 150px;
                    height: 45px;
                    color: $firstColor;
                    background: none; 
                    font-family: $fontRubik;
                    font-size: 16px;
                    font-weight: 500; 
                    &:hover{
                        background-color: $secondColor;
                        color: $footColor;
                      }
                }    
    
            }
            
            &__sandwich {
                display: none;
                
                }    
     
    }   
}

