@import "../component/fonts";
@import "../component/mixin";

// ============== mobile first rules =============== // 

.pricing {

  & .features {
    padding: 51px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
    &__title {
      display: none;
    }
      
    &__title-mobile {
      color: $titleColor;
      font-family: $fontRoboto;
      font-style: normal;
      font-weight: 400;
      font-size: 46px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.2px;
      width: 247px;
      height: auto;
      margin: 0 auto;
    }
      
    &__subtitle {
      margin: 27px auto 17px auto;
      font-family: $fontRoboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #4d4d4d;
      width: 294px;
      height: 80px;
    }
      
    &__button {
      display: flex;
      flex-direction: column;
  
      &--get {
        @include btnGet-mobile;

        &:hover {
          @include btnHoverRed;
        }
      }
  
      &--learn {
        @include btnLearn-mobile;
        
        &:hover {
          @include btnHoverWhite;
        }
      }
    }
      
    &__image {
      width: 323px;
      height: 250px;
      margin: 86px auto 16px auto;
      filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
      border-radius: 10px;
    }
  }
      
  & .available {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 4fr;
    row-gap: 2.188rem;
    padding: 50px 20.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__mobile-title {
      margin: 0 auto;
      font-family: $fontRoboto;
      font-weight: 400;
      font-size: 46px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $fourthColor;
      width: 263px;
      height: 191px;
    }

    &__desktop-title {
      display: none;
    }
    
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        row-gap: 21px;
        margin: 0 20.5px;
    
        &--box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid $fifthColor;
        border-radius: 10px;
        padding: 40px 50px;
        width: 334px;
        height: auto;
    
        & img {
          width: 57.88px;
          height: 54.75px;
          margin-bottom: 10px;
        }
    
        & h3 {
        font-family: $fontRoboto;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.1px;
        color: $fourthColor;
        margin: 0 56px;
        margin-bottom: 10px;
        }
    
        & p {
        font-family: $fontRoboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $subColor;
        }
      }
    }
  }
    
  & .opentype {

    &__container {
      padding: 48px 20px;
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      &--text {
        display: flex;
        align-items: left;
        flex-direction: column;
        margin: 0 8.5px;
    
        h1 {
          font-family: $fontRoboto;
          font-style: normal;
          font-weight: 400;
          font-size: 46px;
          line-height: 57px;
          letter-spacing: 0.2px;
          color: $fourthColor;
          padding: $textPadding;
          width: 313px;
          height: auto;
          margin: 0 auto;
        }
    
        p {
          font-family: $fontRoboto;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: $subColor;
          text-align: left;
          width: 318px;
          height: auto;
          padding: $textPadding;
          margin: 7px 0;
        }
    
        a {
          font-family: $fontRoboto;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          letter-spacing: 0.2px;
          color: $fourthColor;
          text-transform: uppercase;
          padding: 13px;
        }
      }
    
      &--image-m {
        margin-top: 50px;
        width: 356px;
        height: 371px;
        filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
        border-radius: 5px;
      }

      &--image-d {
        display: none;
      }
    }
  }
    
  & .action {
    padding: 62px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__container {
      align-items: center;
      text-align: center;
      width: 335px;
      height: auto;
    
      &--title {
      padding: $textPadding;
      font-family: $fontRoboto;
      font-style: normal;
      font-weight: 400;
      font-size: 46px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: $fourthColor;
      text-transform: capitalize;
      margin: 0 auto;
      width: 317px;
      height: 77px;
      }
    
      &--subtitle {
      width: 336px;
      height: 101px;
      margin-top: 7px;
      font-family: $fontRoboto;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $subColor;
      padding: $textPadding;
      }

      &--subtitle-desktop {
        display: none;
      }
    
      &--image {
        width: 335px;
        height: 275px;
        filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
        border-radius: 5px;
        margin: 59px 0;
      }

      &--image-desktop {
        display: none;
      }
    
      &--button {
        @include btnAction-mobile;

        &:hover {
          @include btnHoverRed;
        }
      }

      &--btn-d {
        display: none;
      }
    }
  }
  
  & .price {
    margin-bottom: 50px;
    text-align: center;

    h1 {
      font-family: $fontRoboto;
      font-size: 46px;
      line-height: 57px;
      font-weight: 400;
      color: $fourthColor;
      margin: 50px auto;
    }

    &__card {
      width: 335px;
      height: 1551px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .card {
        width: 335px;
        height: 495px;
        border: 1px solid $fifthColor;
        padding: 50px 0 40px 0px;
        border-radius: 10px;
  
        h6 {
          width: 107px;
          height: 53px;
          margin: auto;
          font-family: $fontRoboto;
          font-size: 22px;
          line-height: 33px;
          font-weight: bold;
          color: $fourthColor;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        #a {
          width: 135px;
          margin: auto;
          height: fit-content;
          font-family: $fontRoboto;
          font-size: 12px;
          line-height: 18px;
          font-weight: bold;
          color: $subColor;
          margin-bottom: 30px;
        }
  
        img {
          margin-bottom: 30px;
        }
  
        p {
          height: fit-content;
          font-family: $fontRoboto;
          font-size: 15px;
          line-height: 27px;
          font-weight: 400;
          color: $fourthColor;
          margin-bottom: 20px;
        }
  
        button {
          @include btnLast-mobile;

          &:hover {
            @include btnHoverRed;
          }
        }
      }
  }
}


  // ============== tablet portrait start 768px =============== // 

  @media (min-width: 768px) {

    .features {

      &__title-mobile {
        @include titleTablet;
        width: 444px;
      }

      &__subtitle {
        @include subtitleTablet;
      }

      &__button {
        flex-direction: row;
        justify-content: space-between;
        width: 520px;

        &--get {
          margin: 0;
        }
      }

      &__image {
        width: 623px;
        height: 550px;
      }
    }

    .available {
      row-gap: 2.588rem;

      &__mobile-title {
        @include titleTablet;
        margin-bottom: 38px;
        width: 517px;
      }

      &__container {
        row-gap: 40px;

        &--box {
          width: 534px;
          height: 570px;
          justify-content: center;

          & img {
            width: 77.88px;
            height: 77.75px;
          }

          & h3 {
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 0.2px;
            margin-bottom: 25px;
          }

          & p {
            font-weight: 500;
            font-size: 22px;
            line-height: 25px;
            letter-spacing: 0.3px;
          }
        }
      }
    }

    .opentype {
      
      &__container {
        padding: 0;
        
    
        &--text {
          margin: 0;
          
      
          h1 {
            @include titleTablet;
            margin: 0;
            width: 493px;
          }
      
          p {
            @include subtitleTablet;
          }
      
          a {
            font-size: 20px;
          }
        }
      
        &--image-m {
          margin-top: 50px;
          width: 566px;
          height: 571px;
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          border-radius: 5px;
        }
  
        &--image-d {
          display: none;
        }
      }
    }

    .action {
      padding: 62px auto 47px auto;
      
      &__container {
        width: auto;
        height: auto;
        
        &--title {
          @include titleTablet;
        }

        &--subtitle {
          @include subtitleTablet;
          font-size: 22px;
          margin: 20px auto 0 auto;
        }

        &--image {
          width: 566px;
          height: 571px;
        }

        &--button {
          width: 467px;
          height: 76px;

          &:hover { 
            @include btnHoverRed;
          }  
        }
      }
    }

    .price {
      margin: 100px 0;
      margin-bottom: 220px;
      

      h1 {
        font-size: 65px;
        line-height: 77px;
      }

      &__card {
        width: 435px;
        height: 1651px;

        .card {
          width: 435px;
          height: 695px;
          margin: 20px 0;
          padding: 40px;

          h6 {
            width: 207px;
            height: 103px;
            font-size: 42px;
          }

          #a {
            width: 335px;
            font-size: 17px;
          }

          p {
            font-size: 20px;
            line-height: 29px;
          }

          button {
            width: 325px;
            margin-bottom: 35px;

            &:hover { 
              @include btnHoverRed;
            }
          }
        }
      }
    }
  }

    // === tablet landscape and desktop start here == // 

  @media (min-width: 1024px) {
    
    .features {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__title {
        display: block;
        width: 510px;
        height: 151px;
        padding: 0;
        margin: 0;
        font-family: $fontRoboto;
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 66px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $fourthColor;
        margin-top: 104px;
      }

      &__title-mobile {
        display: none;
      }

      &__subtitle {
        margin: 0;
        width: 596px;
        height: 60px;
        padding: 10px;
        font-family: $fontRoboto;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $fourthColor;
        margin: 7px 0 59px 0;
      }

      &__button {
        flex-direction: row;
        
        &--get {
          margin-right: 10px;
          width: 250px;
          height: 60px;
          cursor: pointer;

          &:hover {
            -ms-transform: scale(1.11);
            -webkit-transform: scale(1.11);
            transform: scale(1.11);
          }
        }

        &--learn {
          margin-left: 10px;
          width: 250px;
          height: 60px;
          cursor: pointer;

          &:hover {
            -ms-transform: scale(1.11);
            -webkit-transform: scale(1.11);
            transform: scale(1.11);
          }
        }
      }

      &__image {
        margin: 0;
        width: 862px;
        height: 565px;  
        margin: 51px auto 104px auto;
        cursor: pointer;

        &:hover {
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }

    .available {
      padding: 0;
        
      &__desktop-title {
        display: block;
        width: 696px;
        height: 134px;
        padding: 10px;
        font-family: $fontRoboto;
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $fourthColor;
      }

      &__mobile-title {
        display: none;
      }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1155px;
        height: 370px;

        &--box {
          width: 371px;
          height: 368.75px;
          cursor: pointer;

          &:hover {
            @include btnHoverWhite;
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }

          img {
            width: 57.88px;
            height: 54.75px;
          }

          h3 {
            width: 144px;
            height: 86px;
            padding: 10px;
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #000000;
          }

          p {
            font-family: $fontRoboto;
            width: 271px;
            height: 128px;
            padding: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #5C5C5C;
          }
        } 
      }
    }

    .opentype {

      &__container {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding: 100px 203px;

        &--text {
          display: flex;
          margin: 0;
          margin: 48px 50px 48px 0;

          h1 {
            margin: 0;
            width: 430px;
            height: 134px;
            font-family: $fontRoboto;
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: $fourthColor;
          }

          p {
            width: 448px;
            height: 80px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            font-family: $fontRoboto;
          }

          a {
            width: 114px;
            height: 47px;
            font-family: $fontRoboto;
            font-weight: 400;
            font-size: 15px;
            line-height: 27px;
            padding: 10px;
            letter-spacing: 0.2px;
            color: $fourthColor;

            &:hover {
              color: $firstColor;
            }
          }
        }

        &--image-m {
          display: none;
        }

        &--image-d {
          display: block;
          width: 536px;
          height: 371px;
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }

    .action {
      padding-bottom: 47px;

      &__container {

        &--title {
          @include titleDesktop;
          width: 317px;
          height: 77px;
        }

        &--subtitle {
          display: none;
        }

        &--subtitle-desktop {
          display: flex;
          width: 655px;
          height: 74px;
          margin: 0 auto;
          font-family: $fontRoboto;
          @include subtitleDesktop;
          margin-top: 7px;
        }

        &--image {
          display: none;
        }

        &--image-desktop {
          display: block;
          width: 872px;
          height: 575px;
          margin: 10px auto 41px auto;
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            -ms-transform: scale(1.11);
            -webkit-transform: scale(1.11);
            transform: scale(1.11);
          }
        }

        &--button {
          display: none;
        }

        &--btn-d {
          @include btnAction-mobile;
          display: block;
          @include btnContainer-desktop;
          margin: 0 auto;
          cursor: pointer;
          
          &:hover {
            @include btnHoverRed;
            -ms-transform: scale(1.11);
            -webkit-transform: scale(1.11);
            transform: scale(1.11);
          }
        }
      }
    }

    .price {
      padding: 50px 20px;
      margin: 0;
      margin-top: 98px;

      & h1 {
        width: 273px;
        height: 77px;
        @include titleDesktop;
        margin-top: 0;
      }

      &__card {
        width : 1071px;
        height : 495px;
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        margin : auto;
  
        .card {
          width : 335px;
          height : 495px;
          margin: 0;

          &:hover {
            @include btnHoverWhite;
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }

          h6 {
            width: 64px;
            height: 53px;
            font-size: 22px;
          }

          #a {
            width: 144px;
            font-size: 12px;
          }

          p {
            font-size: 15px;
            line-height: 27px;
          }

          button {
            width: 242px;
            margin-bottom: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

