@import '../component/fonts';
@import '../component/variables';
@import '../component/mixin';

.save {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48.77px auto 0;

    &__hero {

       &--banner {
        margin-bottom: 34px;

        img {
          width: 266.86px;
          height: 295px;
        }
      }
    }

    &__desc {

       &--best {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        h1 {
          width: 330px;
          font-family: $fontRubik;
          font-size: 28px;
          line-height: 41px;
          font-weight: 500;
          text-align: center;
          margin: auto;
          color: $fontColor2;
          margin-bottom: 34px;
        }
  
        p {
          width: 305px;
          height: 89px;
          font-family: $fontRubik;
          font-size: 16px;
          line-height: 30px;
          font-weight: 400;
          text-align: center;
          margin: auto;
          color: $fontColor1;
          margin-bottom: 68px;
        }
  
        button {
          width: 250px;
          height: 60px;
          background-color: $secondColor;
          margin: auto;
          font-family: $fontRubik;
          font-size: 16px;
          line-height: 25px;
          font-weight: 500;
          color: $thirdColor;
          border-radius: 10px;
          border: none;
          margin-bottom: 45px;
          box-shadow: 0 8px 22px $secondColor;

          &:hover {
            @include btnHoverRed;
          }
        }
  
        #free {
          display: none;
        }
      }
  
      &--apps {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 124px;
        justify-content: space-between;

        button {
          width: 240px;
          height: 45px;
          border-radius: 100px;
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $fontColor2;
          border: 1px solid $fontColor2;
          font-family: $fontRubik;
          font-size: 16px;
          line-height: 18.96px;
          font-weight: 500;

          &:hover{
            @include btnHoverWhite;
          }
  
          img {
            margin-right: 13.94px;
          }
        }
      }
    }
  
    @media (min-width: 1023px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 111.38px auto 0;
  
      &__hero {
        order: 1;

        &--banner {

          img {
            width: 588px;
            height: 650px;
          }
        }
      }
  
      &__desc {
        order: 0;
        width: 517px;
        height: 437px;
  
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        &--best {

          h1 {
            text-align: left;
            width: 515px;
            height: 166px;
            font-family: $fontDmsans;
            font-size: 64px;
            line-height: 83.33px;
            font-weight: 600;
            color: $fontColor2;
  
          }
  
          p {
            text-align: left;
            margin-left: 0;
            width: 515px;
            height: 42px;
            font-size: 18px;
            line-height: 21.33px;
            font-weight: 400;
            margin-bottom: 49px;
          }
  
          button {
            width: 250px;
            height: 60px;
            cursor: pointer;

            &:hover {
              @include btnHoverRed;
              -ms-transform: scale(1.2);
              -webkit-transform: scale(1.2);
              transform: scale(1.2);
            }
          }
  
          #free {
            display: block;
            margin-left: 0;
            margin-bottom: 56px;
          }
  
          #get {
            display: none;
          }
        }

        &--apps {
          display: flex;
          flex-direction: row;
          width: 471px;

          button {
            width: 193px;
            height: 45px;
            cursor: pointer;

            &:hover {
              @include btnHoverWhite;
              -ms-transform: scale(1.2);
              -webkit-transform: scale(1.2);
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  
  .secure {
    text-align: center;
    margin-top: 97px;
  
    &__image {
      margin-bottom: 15.25px;

      img {
        width: 100px;
        height: 100px;
      }
    }

    &__desc {

      h1 {
        font-family: $fontRubik;
        font-size: 42px;
        line-height: 49.77px;
        width: 325px;
        margin: auto;
        font-weight: 700;
        color: $fontColor2;
        margin-bottom: 52px;
      }
  
      p {
        font-family: $fontRubik;
        font-size: 18px;
        line-height: 30px;
        width: 325px;
        height: 141px;
        margin: auto;
        font-weight: 400;
        color: $fontColor1;
        margin-bottom: 29px;
      }
  
      a {
        font-family: $fontDmsans;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        align-items: center;
        margin: auto;
        font-weight: 700;
        color: $fontCardColor;
        justify-content: center;
        margin-right: 10.9px;
      }
    }
  
    @media (min-width: 1023px) {
      margin-top: 158px;
      display: flex;
      justify-content: center;

      &__image {
        margin-right: 42.69px;

        img {
          width: 155px;
          height: 155px;
        }
      }
  
      &__desc {

        h1 {
          width: 630px;
          height: 62px;
          font-family: $fontDmsans;
          font-size: 48px;
          line-height: 62.5px;
          margin: auto;
          font-weight: 700;
          color: $fontColor2;
          margin-left: 0;
          margin-bottom: 15px;
        }

        p {
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          width: 762px;
          height: 54px;
          margin-left: 0;
          font-weight: 400;
          color: #ababac;
          margin-bottom: 29px;
          text-align: left;
          margin-bottom: 23px;
        }
  
        a {
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          justify-content: flex-start;
          cursor: pointer;

          &:hover {
            color: blue;
          }
        }
      }
    }
  }
  
  .build {
    text-align: center;
    margin-top: 60px;

    &__desc {

      &--title {
        width: 325px;
        height: 100px;
        margin: auto;
        font-family: $fontRubik;
        font-size: 42px;
        line-height: 49.77px;
        font-weight: 700;
        color: $fourthColor;
        margin-bottom: 41px;
      }
  
      &--paraph {
        width: 327px;
        height: 54px;
        margin: auto;
        font-family: $fontDmsans;
        font-size: 18px;
        line-height: 23.44px;
        font-weight: 600;
        color: $fontCardColor;
        margin-bottom: 43px;
      }
  
      &--butt {
        width: 194px;
        height: 60px;
        background-color: $secondColor;
        margin: auto;
        font-family: $fontRubik;
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
        color: $thirdColor;
        border-radius: 10px;
        border: none;
        box-shadow: 20px 15px 47px $secondColor;
        cursor: pointer;

        &:hover {

          @include btnHoverRed;
          -ms-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  
    &__card {
      width: 326px;
      margin: 48px auto 0 auto;
      display: grid;
      row-gap: 62px;
      grid-template-areas:
        "a"
        "b"
        "c"
        "d";
  
      grid-template-columns: 1fr;
      grid-template-rows: 318px 318px 318px 318px;
      
  
       .a {
        grid-area: a;
        background-color: $cardColor;
        border-radius: 10px;
        text-align: left;
        padding: 18px 22px 18px 22px;
        cursor: pointer;

        &:hover {
          @include btnHoverWhite;
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
  
        h2 {
          font-family: $fontDmsans;
          font-size: 24px;
          line-height: 31.25px;
          font-weight: 600;
          color: $fontCardColor;
          margin-bottom: 21px;
          margin-top: 16px;
        }
  
        p {
          font-family: $fontDmsans;
          width: 223px;
          font-size: 14px;
          line-height: 18.23px;
          font-weight: 500;
          color: $fontCardColor;
          margin-bottom: 93px;
        }
  
        .icon {
          width: 133px;
          height: 24px;
          display: flex;
          align-items: center;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 600;
          color: $fontCardColor;
  
          img {
            margin-right: 18px;
          }
        }
      }
  
      .b {
        grid-area: b;
        background-color: $cardColor;
        border-radius: 10px;
        text-align: left;
        padding: 18px 22px 18px 22px;
        cursor: pointer;

        &:hover {
          @include btnHoverWhite;
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
  
        h2 {
          font-family: $fontDmsans;
          font-size: 24px;
          line-height: 31.25px;
          font-weight: 600;
          color: $fontCardColor;
          margin-bottom: 21px;
          margin-top: 16px;
        }
  
        p {
          font-family: $fontDmsans;
          width: 223px;
          font-size: 14px;
          line-height: 18.23px;
          font-weight: 500;
          color: $fontCardColor;
          margin-bottom: 57px;
        }
  
        .icon {
          width: 133px;
          height: 24px;
          display: flex;
          align-items: center;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 600;
          color: $fontCardColor;
  
          img {
            margin-right: 18px;
          }
        }
      }
  
      .c {
        grid-area: c;
        background-color: $cardColor;
        border-radius: 10px;
        text-align: left;
        padding: 18px 22px 18px 22px;
        cursor: pointer;

        &:hover {
          @include btnHoverWhite;
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
  
        h2 {
          font-family: $fontDmsans;
          font-size: 24px;
          line-height: 31.25px;
          font-weight: 600;
          color: $fontCardColor;
          margin-bottom: 21px;
          margin-top: 16px;
        }
  
        p {
          font-family: $fontDmsans;
          width: 223px;
          font-size: 14px;
          line-height: 18.23px;
          font-weight: 500;
          color: $fontCardColor;
          margin-bottom: 93px;
        }
  
        .icon {
          width: 133px;
          height: 24px;
          display: flex;
          align-items: center;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 600;
          color: $fontCardColor;
  
          img {
            margin-right: 18px;
          }
        }
      }
  
      .d {
        grid-area: d;
        background-color: $cardColor;
        border-radius: 10px;
        text-align: left;
        padding: 18px 22px 18px 22px;
        cursor: pointer;

        &:hover {
          @include btnHoverWhite;
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
  
        h2 {
          font-family: $fontDmsans;
          font-size: 24px;
          line-height: 31.25px;
          font-weight: 600;
          color: $fontCardColor;
          margin-bottom: 21px;
          margin-top: 16px;
        }
  
        p {
          font-family: $fontDmsans;
          width: 223px;
          font-size: 14px;
          line-height: 18.23px;
          font-weight: 500;
          color: $fontCardColor;
          margin-bottom: 57px;
        }
  
        .icon {
          width: 133px;
          height: 24px;
          display: flex;
          align-items: center;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 600;
          color: $fontCardColor;
  
          img {
            margin-right: 18px;
          }
        }
      }
    }
  
    @media (min-width: 1023px) {
      display: flex;
      justify-content: space-between;
      width: 1135px;
      height: 725px;
      margin: 65px auto 0 auto;
  
      &__desc {
        text-align: left;
        h1 {
          width: 348px;
          height: 124px;
          margin: auto;
          font-family: $fontDmsans;
          font-size: 48px;
          line-height: 62.5px;
          font-weight: 600;
          color: $fourthColor;
          margin-bottom: 41px;
        }
  
        p {
          width: 327px;
          height: 54px;
          margin: auto;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 600;
          color: $fontCardColor;
          margin-bottom: 43px;
        }
      }
  
      &__card {
        width: 742px;
        display: grid;
        row-gap: 86px;
        column-gap: 82px;
        margin: 0;
        grid-template-areas:
          "a b"
          "c d";
  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 318px 318px;
      }
    }
  }
  
  .access {
    text-align: center;
    
    &__phone {
      margin-top: 100px;
      margin-bottom: 72.14px;
  
      img {
        width: 276px;
        height: 426px;
      }
    }
  
    &__desc {
      width: 326px;
      height: 329px;
      margin: auto;
      text-align: left;

      &--disc {
        display: flex;
        align-items: center;
        width: 257px;
        height: 45px;
        justify-content: center;
        line-height: 45px;
        font-family: $fontDmsans;
        font-size: 20px;
        line-height: 26.04px;
        font-weight: 550;
        color: $secondColor;
        background-color: $lightOrange;
        border-radius: 30px;
        margin-bottom: 37px;
      }
  
      h2 {
        width: 315px;
        height: 88px;
        font-family: $fontDmsans;
        font-size: 34px;
        line-height: 44.27px;
        font-weight: 600;
        color: $fontCardColor;
        margin-bottom: 37px;
      }
  
      &--paraph {
        width: 326px;
        height: 66px;
        font-family: $fontDmsans;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: $fourthColor;
        margin-bottom: 33px;
      }
  
      &--learn {
        width: 293px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 23px;
        font-family: $fontDmsans;
        font-size: 18px;
        line-height: 23.44px;
        font-weight: 600;
        color: $secondColor;
  
        img {
          margin-left: 11.6px;
          width: 23px;
          height: 23px;
        }
      }
    }
  
    @media (min-width: 1023px) {
      display: flex;
      width: 1093px;
      height: 682px;
      margin: 114px auto 0 auto;
      align-items: center;
      justify-content: space-between;
  
      &__phone {
        margin: 0;
        img {
          width: 444px;
          height: 682px;
        }
      }
  
      &__desc {
        margin: 0;
        width: 508px;
        height: 361px;
        position: relative;
        top: -110px;
  
        &--disc {
          width: 301px;
          height: 45px;
          justify-content: center;
          line-height: 45px;
          font-family: $fontDmsans;
          font-size: 24px;
          line-height: 31.25px;
          font-weight: 550;
          color: $secondColor;
          background-color: $lightOrange;
          border-radius: 30px;
          margin-bottom: 42px;
        }
  
        h2 {
          width: 445px;
          height: 124px;
          font-family: $fontDmsans;
          font-size: 48px;
          line-height: 62.5px;
          font-weight: 600;
          color: $fontCardColor;
          margin-bottom: 11px;
        }
  
        &--paraph {
          width: 504px;
          height: 69px;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 600;
          color: $fourthColor;
          margin-bottom: 47px;
        }

        &--learn {
          width: 295px;
          height: 23px;

          img {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
  
  .customer {
    text-align: center;
    margin-top: 95px;

    &__banner {

      &--card {
        width: 325px;
        height: 392px;
        background-color: #2469b2;
        margin: auto;
        padding: 37px 31px 41px 31px;
  
        h1 {
          width: 264px;
          height: 78px;
          text-align: left;
          font-family: $fontDmsans;
          font-size: 30px;
          line-height: 39.06px;
          font-weight: 500;
          color: $thirdColor;
          margin-bottom: 43px;
        }
  
        p {
          width: 264px;
          height: 126px;
          text-align: left;
          font-family: $fontDmsans;
          font-size: 14px;
          line-height: 21px;
          font-weight: 500;
          color: $thirdColor;
          margin-bottom: 43px;
        }
  
        .icon {
          width: 146px;
          height: 24px;
          display: flex;
          text-align: center;
          justify-content: flex-start;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 500;
          color: $thirdColor;
  
          img {
            margin-right: 8px;
          }
        }
      }
  
      .pic {

        img {
          width: 325px;
          height: 240px;
        }
      }
    }
  
    @media (min-width: 1023px) {

      &__banner {
        width: 1440px;
        height: 504px;
        display: flex;
        margin: auto;

        &--card {
          width: 50%;
          height: 100%;
          margin: 0;
          padding: 37px 69px 73px 69px;
  
          h1 {
            width: 427px;
            height: 124px;
            text-align: left;
            font-family: $fontDmsans;
            font-size: 48px;
            line-height: 62.5px;
            font-weight: 500;
            color: $thirdColor;
            margin-bottom: 41px;
          }
  
          p {
            width: 371px;
            height: 102px;
            text-align: left;
            font-family: $fontDmsans;
            font-size: 14px;
            line-height: 23.24px;
            font-weight: 500;
            color: $thirdColor;
            margin-bottom: 103px;
          }
        }
  
        .pic {
          width: 50%;
          height: 100%;
          margin-right: 65px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  
  .launch {
    text-align: center;
    margin-top: 70px;
  
    &__custom {
      margin-bottom: 34px;

      img {
        width: 325px;
        height: 324px;
      }
    }

    &__desc {
      width: 327px;
      height: 428px;
      margin: 34px auto 0 auto;
      
      &--title {
        text-align: left;
        width: 301px;
        height: 39px;
        font-family: $fontDmsans;
        font-size: 30px;
        line-height: 39.06px;
        font-weight: 500;
        color: $fourthColor;
      }
  
      &--paraph {
        width: 327px;
        height: 96px;
        margin: auto;
        font-family: $fontDmsans;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: $fourthColor;
        text-align: left;
        margin-bottom: 38px;
      }
  
      &--butt {
        width: 250px;
        height: 60px;
        background-color: $secondColor;
        margin: auto;
        font-family: $fontRubik;
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
        color: $thirdColor;
        border-radius: 10px;
        border: none;
        margin-bottom: 45px;
        box-shadow: 0 8px 22px $secondColor;
        margin-bottom: 45px;
      }
  
      &--get {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 124px;
        justify-content: space-between;

        button {
          width: 240px;
          height: 45px;
          border-radius: 100px;
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $fontColor2;
          border: 1px solid $fontColor2;
          font-family: $fontRubik;
          font-size: 16px;
          line-height: 18.96px;
          font-weight: 500;
          box-shadow: none;
  
          img {
            margin-right: 13.94px;
          }
        }
      }
    }
  
    @media (min-width: 1023px) {
      display: flex;
      width: 1068px;
      height: 472px;
      margin: 41px auto 0 auto;
      justify-content: space-between;
      align-items: center;
  
      &__custom {
        img {
          width: 437px;
          height: 472px;
        }
      }
  
      &__desc {
        width: 481px;
        height: 347px;
        text-align: left;
        margin: 0;

        &--title {
          text-align: left;
          width: 481px;
          height: 62px;
          font-family: $fontDmsans;
          font-size: 48px;
          line-height: 62.5px;
          font-weight: 500;
          color: $fourthColor;
          margin-bottom: 18px;
        }
  
        &--paraph {
          width: 463px;
          height: 83px;
          margin: auto;
          font-family: $fontDmsans;
          font-size: 18px;
          line-height: 23.44px;
          font-weight: 500;
          color: $fourthColor;
          text-align: left;
          margin-bottom: 32px;
        }
  
        &--butt {
          width: 194px;
          height: 60px;
          background-color: $secondColor;
          margin: 0;
          font-family: $fontRubik;
          font-size: 16px;
          line-height: 25px;
          font-weight: 500;
          margin-bottom: 47px;

          &:hover {
            @include btnHoverRed;
            -ms-transform: scale(1.20);
            -webkit-transform: scale(1.20);
            transform: scale(1.20);
          }
        }
  
        &--get {
          display: flex;
          flex-direction: row;
          width: 471px;
          justify-content: space-between;
  
          button {
            width: 193px;

            &:hover {
              @include btnHoverWhite;
              -ms-transform: scale(1.2);
              -webkit-transform: scale(1.2);
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  
  .media {
    width: 357px;
    height: 135.05px;
    margin: 87px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__up {
      width: 190px;
      height: 51.59px;
      display: flex;
      flex-direction: row ;
      align-items: center;
      justify-content: space-between;

      &--netflix {
        width: 91.72px;
        height: 51.59px;
      }

      &--reddit {
        width: 91.72px;
        height: 51.59px;
      }
    }
  
    &__down {
      width: 357px;
      height: 106.32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: -15px;

      img {
        width: 96.97px;
        height: 30.62px;
      }
    }
  
    &__spons {
      display: none;
    }
  
    @media (min-width: 1023px) {
      display: flex;
      flex-direction: row;
      width: 1135.64px;
      height: 208.32px;
      align-items: center;
      justify-content: center;
      margin: 74px auto 0 auto;
  
      &__up {
        margin : 0;
        height: 208.32px;
        display : none;
      }
  
      &__down {
        margin : 0;
        display : flex;
        align-items: center;
        height: 208.32px;
        position: relative;
        top: 0;
        display : none;
      }
  
      &__spons {
        display : block;
      }
    }
  }
  
  