<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main>


<!-------------------------------------- Section Page 1 Start --------------------------------------------->
  <div class="one">
    <div class="one__hero" data-aos="fade-right">
      <div class="ban"><img src="../assets/images/Home/Illustration1.png" alt="" /></div>
    </div>
    <div class="one__desc" data-aos="fade-up">
      <h2>Want anything to be easy with <span>LaslesVPN.</span></h2>
      <p>
        Provide a network for all your needs with ease and fun using
        <span>LaslesVPN</span> discover interesting features from us.
      </p>
      <button>Get Started</button>
    </div>
  </div>

  <div class="two" data-aos="fade-up">
    <div class="item">
      <div class="logo"><img src="../assets/images/Home/icon-user.png" alt="" /></div>
      <div class="det">90+ <br /><span>Users</span></div>
    </div>

    <div class="item" id="bor">
      <div class="logo"><img src="../assets/images/Home/icon-location.png" alt="" /></div>
      <div class="det">30+ <br /><span>Locations</span></div>
    </div>

    <div class="item">
      <div class="logo"><img src="../assets/images/Home/icon-server.png" alt="" /></div>
      <div class="det">50+ <br /><span>Servers</span></div>
    </div>
  </div>
<!-------------------------------------- Section Page 1 End --------------------------------------------->



<!-------------------------------------- Section Page 2 Start ------------------------------------------->
  <div class="three">
    <div class="three__ban" data-aos="fade-right">
      <img src="../assets/images/Home/Illustration2.png" alt="" />
    </div>
    <div class="three__desc">
      <h2 data-aos="fade-right">We Provide Many Features You Can Use</h2>
      <p data-aos="fade-right">
        You can explore the features that we provide with fun and have their
        own functions each feature.
      </p>
      <div class="list" data-aos="fade-left">
        <h6><img src="../assets/images/Home/checklist.png" alt="" />Powerfull online protection.</h6>
        <h6><img src="../assets/images/Home/checklist.png" alt="" />Internet without borders.</h6>
        <h6><img src="../assets/images/Home/checklist.png" alt="" />Supercharged VPN</h6>
        <h6><img src="../assets/images/Home/checklist.png" alt="" />No specific time limits.</h6>
      </div>
    </div>
  </div>
<!-------------------------------------- Section Page 2 End --------------------------------------------->




<!-------------------------------------- Section Page 3 Start ------------------------------------------->

  <div class="four">
    <h2 data-aos="fade-up">Choose Your Plan</h2>
    <p data-aos="fade-up">
      Let's choose the package that is best for you and explore it happily
      and cheerfully.
    </p>
    <div class="four__card">
      <div class="card" data-aos="fade-left">
        <img id="bx" src="../assets/images/Home/Free.png" alt="" />
        <h4>Standard Plan</h4>
        <div class="items">
          <h6><img src="../assets/images/Home/check.png" alt="" />Unlimited Bandwitch</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Encrypted Connection</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />No Traffic Logs</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Works on All Devices</h6>
        </div>
        <div class="fee">
          <img src="../assets/images/Home/Pfree.png" alt="" />
          <button>Select</button>
        </div>
      </div>

      <div class="card" data-aos="fade-out">
        <img id="bx" src="../assets/images/Home/standard.png" alt="" />
        <h4>Standard Plan</h4>
        <div class="items">
          <h6><img src="../assets/images/Home/check.png" alt="" />Unlimited Bandwitch</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Encrypted Connection</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />No Traffic Logs</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Works on All Devices</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Connect Anyware</h6>
        </div>
        <div class="fee">
          <img src="../assets/images/Home/Pstandar.png" alt="" />
          <button>Select</button>
        </div>
      </div>

      <div class="card" data-aos="fade-right">
        <img id="bx" src="../assets/images/Home/Premium.png" alt="" />
        <h4>Premium Plan</h4>
        <div class="items">
          <h6><img src="../assets/images/Home/check.png" alt="" />Unlimited Bandwitch</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Encrypted Connection</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />No Traffic Logs</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Works on All Devices</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Connect Anyware</h6>
          <h6><img src="../assets/images/Home/check.png" alt="" />Get New Features</h6>
        </div>
        <div class="fee">
          <img src="../assets/images/Home/Ppremium.png" alt="" />
          <button>Select</button>
        </div>
      </div>
    </div>
  </div>
  
<!-------------------------------------- Section Page 3 End --------------------------------------------->



<!-------------------------------------- Section Page 4 Start --------------------------------------------->
  <div class="five">
    <h1 data-aos="fade-up">Huge Global Network of Fast VPN</h1>
    <p data-aos="fade-up">
      See LaslesVPN everywhere to make it easier for you when you move
      locations.
    </p>
    <img id="map" src="../assets/images/Home/Global.png" alt="" data-aos="fade-right"/>
    <div class="spon">
      <div class="mob"><img src="../assets/images/Home/mob.png" alt="" data-aos="fade-left"/></div>
      <div class="deks"><img src="../assets/images/Home/Sponsored.png" alt="" data-aos="fade-left"/></div>
    </div>
  </div>
<!-------------------------------------- Section Page 4 End ----------------------------------------------->



<!-------------------------------------- Section Page 5 Start --------------------------------------------->
  <div class="six" data-aos="fade-up" id="card">
    <div class="six__desc">
      <h2 data-aos="fade-right">Trusted by Thousands of Happy Customer</h2>
      <p data-aos="fade-left">
        These are the stories of our customers who have joined us with great
        pleasure when using this crazy feature.
      </p>
    </div>

    <div class="owl-carousel">
      <div class="card">
        <div class="prof">
          <img id="l" src="../assets/images/Home/ReviewA.png" alt="" />
          <img id="r" src="../assets/images/Home/ReviewRate.png" alt="" />
        </div>
        <div class="rev">
          <p>
            “Wow... I am very happy to use this VPN, it turned out to be
            more than my expectations and so far there have been no
            problems. LaslesVPN always the best”.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="prof">
          <img id="l" src="../assets/images/Home/ReviewB.png" alt="" />
          <img id="r" src="../assets/images/Home/ReviewRate.png" alt="" />
        </div>
        <div class="rev">
          <p>
            “I like it because I like to travel far and still can connect
            with high speed.”.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="prof">
          <img id="l" src="../assets/images/Home/ReviewC.png" alt="" />
          <img id="r" src="../assets/images/Home/ReviewRate.png" alt="" />
        </div>
        <div class="rev">
          <p>
            “This is very unusual for my business that currently requires a
            virtual private network that has high security.”.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="prof">
          <img id="l" src="../assets/images/Home/ReviewA.png" alt="" />
          <img id="r" src="../assets/images/Home/ReviewRate.png" alt="" />
        </div>
        <div class="rev">
          <p>
            “I like it because I like to travel far and still can connect
            with high speed.”.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="prof">
          <img id="l" src="../assets/images/Home/ReviewB.png" alt="" />
          <img id="r" src="../assets/images/Home/ReviewRate.png" alt="" />
        </div>
        <div class="rev">
          <p>
            “I like it because I like to travel far and still can connect
            with high speed.”.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="prof">
          <img id="l" src="../assets/images/Home/ReviewC.png" alt="" />
          <img id="r" src="../assets/images/Home/ReviewRate.png" alt="" />
        </div>
        <div class="rev">
          <p>
            “This is very unusual for my business that currently requires a
            virtual private network that has high security.”.
          </p>
        </div>
      </div>

    </div>
  </div>

<!-------------------------------------- Section Page 5 End --------------------------------------------->



<!-------------------------------------- Section Page 6 Start --------------------------------------------->
  <div class="seven" data-aos="fade-up">
    <div class="seven__desc">
      <h2>Subscribe Now for Get Special Features!</h2>
      <p>Let's subscribe with us and find the fun.</p>
    </div>

    <div class="seven__button"><button>Subscribe Now</button></div>
  </div>
<!-------------------------------------- Section Page 6 End --------------------------------------------->



</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->