<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  <main id="pricing" class="pricing">
    <section class="features">
        <h1 class="features__title" data-aos="fade-out">OpenType features and Variable fonts</h1>
        <h1 class="features__title-mobile" data-aos="fade-left">Work at the speed of thought.</h1>
        <p class="features__subtitle" data-aos="fade-right">Most calendars are designed for teams. 
            Slate is designed for freelancers who 
            want a simple way to plan 
            their schedule.</p>
        <div class="features__button">
            <button class="features__button--get" data-aos="fade-left">get started</button>
            <button class="features__button--learn" data-aos="fade-right">learn more</button>
        </div>
        <img class="features__image" src="assets/pricing-images/pricing-feature.png" alt="bank-account-history" data-aos="fade-up">
    </section>
  
    <section class="available">
      <h3 class="available__mobile-title" data-aos="fade-up">Available exclusively on the Mac.</h3>
      <h2 class="available__desktop-title" data-aos="fade-up">Available exclusively on the Mac for just $99.</h2>
      <div class="available__container">
          <div class="available__container--box" data-aos="zoom-out-up">
              <img src="assets/pricing-images/pricing-logo1.png" alt="fastest-logo-1">
              <h3>Fastest way to organize</h3>
              <p>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
          </div>
          <div class="available__container--box" data-aos="zoom-out-up">
              <img src="assets/pricing-images/pricing-logo2.png" alt="fastest-logo-2">
              <h3>Fastest way to organize</h3>
              <p>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
          </div>
          <div class="available__container--box" data-aos="zoom-out-up">
              <img src="assets/pricing-images/pricing-logo3.png" alt="fastest-logo-3">
              <h3>Fastest way to organize</h3>
              <p>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
          </div>
      </div>
    </section>
  
    <section class="opentype">
  
      <div class="opentype__container" data-aos="zoom-in-left">
        <div class="opentype__container--text">
          <h1>OpenType features and Variable fonts</h1>
          <p>Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</p>
          <a href="">Learn More</a>
        </div>
        <img class="opentype__container--image-m" src="assets/pricing-images/opentype-image.png" alt="bank-account-history">
        <img class="opentype__container--image-d" src="assets/pricing-images/pricing-feature.png" alt="bank-account-history">
      </div>
  
      <div class="opentype__container" data-aos="zoom-in-right">
        <div class="opentype__container--text">
          <h1>OpenType features and Variable fonts</h1>
          <p>Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</p>
          <a href="">Learn More</a>
        </div>
        <img class="opentype__container--image-m" src="assets/pricing-images/opentype-image.png" alt="bank-account-history">
        <img class="opentype__container--image-d" src="assets/pricing-images/pricing-feature.png" alt="bank-account-history">
      </div>
  
    </section>
  
    <section class="action">
      <div class="action__container" data-aos="fade-up">
        <h2 class="action__container--title">call to action</h2>
        <p class="action__container--subtitle">Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful....</p>
        <p class="action__container--subtitle-desktop">Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...</p>
        <img class="action__container--image" src="assets/pricing-images/action-image.png" alt="bank-account-history">
        <img class="action__container--image-desktop" src="assets/pricing-images/pricing-feature.png" alt="bank-account-history" data-aos="zoom-in">
        <button class="action__container--button" data-aos="fade-out">TRY FOR FREE</button>
        <button class="action__container--btn-d" data-aos="fade-up">Try to Free</button>
      </div>
    </section>
  
    <div class="price">
      <h1 data-aos="fade-up">Price Tables</h1>
      <div class="price__card">
        <div class="card" data-aos="flip-left">
          <h6>Free</h6>
          <p id="a">Brief price Description</p>
          <img src="assets/pricing-images/price1.png" alt="" />
          <p>Price Item One</p>
          <p>Price Item Two</p>
          <p>Price Item Three</p>
          <button>Order Now</button>
        </div>
        <div class="card" data-aos="flip-left">
          <h6>Standart</h6>
          <p id="a">Brief price Description</p>
          <img src="assets/pricing-images/price2.png" alt="" />
          <p>Price Item One</p>
          <p>Price Item Two</p>
          <p>Price Item Three</p>
          <button>Order Now</button>
        </div>
        <div class="card" data-aos="flip-left">
          <h6>Premium</h6>
          <p id="a">Brief price Description</p>
          <img src="assets/pricing-images/price3.png" alt="" />
          <p>Price Item One</p>
          <p>Price Item Two</p>
          <p>Price Item Three</p>
          <button>Order Now</button>
        </div>
      </div>
    </div>

  </main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->