<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<link rel="stylesheet" href="service.scss">
<main>
  <div class="save">
    <div class="save__hero">
      <div class="save__hero--banner" data-aos="fade-up"><img src="../assets/service-images/group.svg" alt="" /></div>
    </div>

    <div class="save__desc" data-aos="fade-right">
      <div class="save__desc--best">
        <h1>The Best Way <br />To Save & Invest.</h1>
        <p>
          Piggyvest help over 3 million customer achieve their financial
          goal by helping them save and invest with ease
        </p>
        <button id="get">Get Started</button>
        <button id="free">Create Free Account</button>
      </div>

      <div class="save__desc--apps">
        <button>
          <img src="../assets/service-images/apple.svg" alt="appstore" />Get on Iphone
        </button>
        <button>
          <img src="../assets/service-images/playstore.svg" alt="playstore" />Get on android
        </button>
      </div>
    </div>
  </div>

  <div class="secure" data-aos="fade-up">
    <div class="secure__image"><img src="../assets/service-images/lock.svg" alt="" /></div>
    <div class="secure__desc">
      <h1>Your security is our priority</h1>
      <p>
        Piggyvest use the the highest level of security and it is secures by
        256 bits SSL securityecryption to ensure that your information is
        completely protected from fraud
      </p>
      <a>Learn More <img src="../assets/service-images/arrowlearn.svg" alt="" /></a>
    </div>
  </div>

  <div class="build">
    <div class="build__desc" data-aos="fade-up">
      <h1 class="build__desc--title">4 ways to build your savings</h1>
      <p class="build__desc--paraph">Earn 5%-15% when you save with any of these Piggyvest plans </p>
      <button class="build__desc--butt">Start Saving</button>
    </div>
    <div class="build__card">
      <div class="a" data-aos="flip-left">
        <img src="../assets/service-images/auto.svg" alt="">
        <h2>Automated Savings</h2>
        <p>Build a dedicated saving on your term automatically or manually</p>
        <div class="icon"><img src="../assets/service-images/arrowblue.svg" alt="">Piggybank</div>
      </div>

      <div class="b" data-aos="flip-left">
        <img src="../assets/service-images/lockblue.svg" alt="">
        <h2>Automated Savings</h2>
        <p>Lock money away for a fixed duration with no access to it until maturity. it’s like having a custom fixed deposit,</p>
        <div class="icon"><img src="../assets/service-images/arrowblue.svg" alt="">Savelock</div>
      </div>

      <div class="c" data-aos="flip-left">
        <img src="../assets/service-images/shieldgreen.svg" alt="">
        <h2>Good oriented-Savings</h2>
        <p>Build a dedicated saving on your term automatically or manually</p>
        <div class="icon"><img src="../assets/service-images/arrowgreen.svg" alt="">Piggybank</div>
      </div>

      <div class="d" data-aos="flip-left">
        <img src="../assets/service-images/lockpink.svg" alt="">
        <h2>Fixed Savings</h2>
        <p>Lock money away for a fixed duration with no access to it until maturity. it’s like having a custom fixed deposit,</p>
        <div class="icon"><img src="../assets/service-images/arrowpink.svg" alt="">Savelock</div>
      </div>
    </div>
  </div>

  <div class="access" data-aos="fade-up">
    <div class="access__phone"><img src="../assets/service-images/phone.svg" alt="phone"></div>
    <div class="access__desc">
      <h4 class="access__desc--disc">Up to 25% returned</h4>
      <h2 class="acess__desc--titl">Access investment opportunities</h2>
      <p class="access__desc--paraph">Invest securely and confidentialy on the go. Grow your money confidently by investing on pre-vetted investment opportunities</p>
      <h6 class="access__desc--learn">Learn more about investment <img src="../assets/service-images/arroworange.svg" alt="arrow"></h6>
    </div>
  </div>

  <div class="customer">
    <div class="customer__banner">
      <div class="customer__banner--card" data-aos="fade-right">
        <h1>Meet  the saver of the month!</h1>
        <p>Every month, we shine spotlight on one saver,asking  them questions about their saving culture and how the product is specifically hellping them how they spend and save for future responsibilities</p>
        <div class="icon"><img src="../assets/service-images/arrowhite.svg" alt="">Meet Tohbad</div>
      </div>
      <div class="pic" data-aos="fade-left"><img src="../assets/service-images/people.svg" alt=""></div>
    </div>
  </div>

  <div class="launch" data-aos="fade-up">
    <div class="launch__custom"><img src="../assets/service-images/comment.svg" alt=""></div>
    <div class="launch__desc">
      <h1 class="launch__desc--title">3 Million+ customers</h1>
      <p class="launch__desc--paraph">Since launching in 2016,  over 3,000,000 people have used Piggyvest to manage their money better,avoid over-spending and be more accountable</p>
      <button class="launch__desc--butt">Get Started</button>
      <div class="launch__desc--get">
        <button><img src="../assets/service-images/apple.svg" alt="">Get on Iphone</button>
        <button><img src="../assets/service-images/playstore.svg" alt="">Get on Android</button>
      </div>
    </div>

  </div>

  <div class="media" data-aos="fade-in">
    <div class="media__up">
      <img class="media__up--netflix" src="..//assets/service-images/netflix.svg" alt="">
      <img class="media__up--reddit" src="..//assets/service-images/reddit.svg" alt="">
    </div>

    <div class="media__down">
      <img src="..//assets/service-images/amazon.svg" alt="">
      <img src="..//assets/service-images/discord.svg" alt="">
      <img src="..//assets/service-images/spotify.svg" alt="">
    </div>

    <div class="media__spons"><img src="..//assets/service-images/sponsored.svg" alt=""></div>
  </div>
</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->