@import 'variables';

@mixin btnGet-mobile {
    margin-bottom: 7px;
    padding: 17.5px 78px;
    background-color: #f53838;
    color: #ffffff;
    border-radius: 10px;
    text-transform: capitalize;
    border: 0;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

@mixin btnLearn-mobile {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: #ffffff;
    color: #141414;
    border: 2px solid #000000;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

@mixin btnAction-mobile{
    width: 277px;
    height: 76px;
    padding: 30px 85px;
    color: #ffffff;
    background: #f53838;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0 #f53838;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
}

@mixin btnLast-mobile {
    position: relative;
    top: 20px;
    width: 242px;
    height: 52px;
    background-color: #f53838;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 10px;
    border: none;
}

@mixin btnContainer-desktop {
    width: 250px;
    height: 60px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
}

@mixin titleTablet {
    width: 400px;
    font-size: 55px;
    line-height: 77px;
    letter-spacing: 0.3;
    font-weight: 500;
}

@mixin subtitleTablet {
    width: 450px;
    font-size: 20px;
}

@mixin btnHoverRed {
    background-color: darken($firstColor, $amount: 20%);
}

@mixin btnHoverWhite {
    background-color: darken($fifthColor, $amount: 20%);
}

@mixin titleDesktop {
    font-family: $fontRoboto;
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: $fourthColor;
    padding: 10px;
}

@mixin subtitleDesktop {
    font-family: $fontRoboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: $subColor;
    padding: 10px;
}