// ================ Color ================ //
$firstColor: #F53855;
$secondColor: #F53838;
$thirdColor: #ffffff;
$fourthColor: #000000;
$fifthColor: #DDDDDD;
$sixthColor: #EEEFF2;
$lightOrange: #FEE9E9;
$titleColor: #202020;
$subColor: #5c5c5c;


// ================ Background Color ================ //
$bgColor1: #F6F6F6;
$cardColor: #F7F7F7;
$footColor: #F8F8F8;

// ================ Font Color ================ //
$fontColor1: #4F5665;
$fontColor2: #0B132A;
$fontColor3: #AFB5C0;
$fontCardColor: #080047;


// ================ Font Family ================ //
$fontRubik: 'Rubik';
$fontRoboto: 'Roboto';
$fontDmsans: 'DM Sans';

// ================ pricing variables ================ //
$textPadding: 10px;
$firstText: #000000;
$secondText: #5c5c5c;
$titleTablet: 500;
$titleSize: 55px;