
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

  <footer class="footer" data-aos="fade-right" id="footer">
      <div class="footer__image">
          <img src="../assets/images/Home/Logo.png" alt="logo">
        <p class="footer__text">
          <span>LaslesVPN</span>
          is a private virtual network that has unique features and has high security.
        </p>
        <!-- <p class="footer__text2">
          has unique features and has high security.
        </p> -->
        

        <ul class="footer__socmed">
          <li><a href="#"><img src="../assets/images/Home/socmed-FB.png"></a></li>
          <li><a href="#"><img src="../assets/images/Home/socmed-Twit.png"></a></li>
          <li><a href="#"><img src="../assets/images/Home/socmed-IG.png"></a></li>
        </ul>
        <p class="footer__copy">&copy;2020Lasles<span>VPN</span></p>

      </div>

      <div class="footer__heading1">
        <h2 class="footer__title">Product</h2>
        <ul class="footer__content">
          <li><a href="#">Download</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="#">Locations</a></li>
          <li><a href="#">Server</a></li>
          <li><a href="#">Countries</a></li>
          <li><a href="#">Blog</a></li>
        </ul>    
      </div>

      <div class="footer__heading2">
        <h2 class="footer__title">Engage</h2>
        <ul class="footer__content">
          <li><a href="#">LaslesVPN ?</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>

      <div class="footer__heading3">
        <h2 class="footer__title">Earn Money</h2>
        <ul class="footer__content">
          <li><a href="#">Affiliate</a></li>
          <li><a href="#">Become Partner</a></li>
        </ul>
      </div>
    
  </footer>



















@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->